:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.explore {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 40px;
    gap: 40px;
}

.selectors {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    align-self: flex-end;
}

.selector {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.selector select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 200px;
}

.selector label {
    font-size: larger;
    color: #3D2C2E;
    font-weight: bold;
}

.schedule h1 {
    font-size: 2em;
    color: #3D2C2E;
    font-weight: bold;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .selectors {
        flex-direction: column;
        gap: 20px;
        align-self: flex-start;
        width: -webkit-fill-available;
    }

    .selector {
        display: flex;
        width: 100%;
    }

    .selector select {
        flex: 1;
        min-width: 0px;
    }

}

@media screen and (max-width: 600px) {
    .explore {
        padding: 20px;
        gap: 20px;
    }

    .schedule h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px){
    .schedule h1 {
        font-size: 1.2em;
    }
}