header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 5vh;
    border-bottom: 1px solid #E0E0E0;
    background-color: #3D2C2E;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
  }
  
  nav ul li a:hover {
    color: #E0E0E0;
  }
  