<div class="admin-container">
    <div class="main">
        <div class="selects">
            <div class="select">
                <label for="degreeSelect">Select a degree</label>
                <select id="degreeSelect" [(ngModel)]="degreeSelect" (change)="setDegree(degreeSelect)">
                    <option *ngFor="let degree of degrees" [ngValue]="degree">{{degree.name}}</option>
                </select>
            </div>
        </div>
        <form [formGroup]="degreeForm">
            <div class="inputs">
              <div class="input">
                <label for="degreeName">NAME</label>
                <input id="degreeName" type="text" formControlName="degreeName" placeholder="Name of the degree">
                <div *ngIf="degreeForm.controls['degreeName'].invalid && (degreeForm.controls['degreeName'].dirty || degreeForm.controls['degreeName'].touched)" class="error">
                  Name is required
                </div>
              </div>
          
              <div class="input">
                <label for="degreeYears">YEARS</label>
                <input id="degreeYears" type="number" formControlName="degreeYears" placeholder="Years of the degree" min="0">
                <div *ngIf="degreeForm.controls['degreeYears'].invalid && (degreeForm.controls['degreeYears'].dirty || degreeForm.controls['degreeYears'].touched)" class="error">
                  Years is required
                </div>
              </div>      
            </div>
        </form>
    </div>
    <div class="buttons">
        <button (click)="createDegree()">Create Degree</button>
        <button 
        [ngClass]="{'disabled': degreeForm.invalid || !checkIfChanged()}" 
        [disabled]="degreeForm.invalid || !checkIfChanged()"
        (click)="updateDegree()">Update Degree</button>
        <button 
        [ngClass]="{'disabled': degreeForm.invalid}" 
        [disabled]="degreeForm.invalid"
        (click)="deleteDegree()">Delete Degree</button>
    </div>
</div>
