<main>
  <div class="popups" [ngClass]="{'non-visible': loadingService.isLoading$() | async}">
    <app-create-degree *ngIf="popupService.createDegreeService.isOpen()"></app-create-degree>
    <app-create-subject *ngIf="popupService.createSubjectService.isOpen()"></app-create-subject>
    <app-create-group *ngIf="popupService.createGroupService.isOpen()"></app-create-group>
    <app-notification *ngIf="notificationService.isNotificationShown()"></app-notification>
  </div>
  <div id="loader" *ngIf="loadingService.isLoading$() | async">
    <app-header></app-header>
    <app-loading></app-loading>
  </div>
  <div id="wrapper-container" [ngClass]="{'non-visible': loadingService.isLoading$() | async}"> 
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</main>