<div class="admin-container">
    <div class="main">
        <div class="selects">
            <div class="select">
                <label for="degreeSelect">Select a degree</label>
                <select id="degreeSelect" [(ngModel)]="degreeSelect" (change)="degreeSelect && onDegreeChange(degreeSelect)">
                    <option *ngFor="let degree of degrees" [ngValue]="degree">{{degree.name}}</option>
                </select>
            </div>
            <div class="select">
                <label for="subjectSelect">Select a subject</label>
                <select id="subjectSelect" [(ngModel)]="subjectSelect" (change)="subjectSelect && onSubjectChange(subjectSelect)">
                    <option *ngFor="let subject of filteredSubjects" [ngValue]="subject">{{subject.name}}</option>
                </select>
            </div>
        </div>
        <form class="inputs" [formGroup]="subjectForm" #formRef="ngForm">

            <div class="input">
              <label for="subjectName">NAME</label>
              <input id="subjectName" type="text" formControlName="subjectName" placeholder="Name of the subject">
              <div *ngIf="subjectForm.controls['subjectName'].invalid && (subjectForm.controls['subjectName'].dirty || subjectForm.controls['subjectName'].touched)" class="error">
                Name is required
              </div>
            </div>
            
            <div class="input">
              <label for="subjectYear">YEAR</label>
              <input id="subjectYear" type="number" formControlName="subjectYear" placeholder="Year of the subject" min="0">
              <div *ngIf="subjectForm.controls['subjectYear'].invalid && (subjectForm.controls['subjectYear'].dirty || subjectForm.controls['subjectYear'].touched)" class="error">
                Year is required
              </div>
            </div>
            
            <div class="input">
              <label for="subjectAcronym">ACRONYM</label>
              <input id="subjectAcronym" type="text" formControlName="subjectAcronym" placeholder="Acronym of the subject">
              <div *ngIf="subjectForm.controls['subjectAcronym'].invalid && (subjectForm.controls['subjectAcronym'].dirty || subjectForm.controls['subjectAcronym'].touched)" class="error">
                Acronym is required
              </div>
            </div>
            
            <div class="input">
              <label for="subjectSemester">SEMESTER</label>
              <input id="subjectSemester" type="number" formControlName="subjectSemester" placeholder="Semester of the subject">
              <div *ngIf="subjectForm.controls['subjectSemester'].invalid && (subjectForm.controls['subjectSemester'].dirty || subjectForm.controls['subjectSemester'].touched)" class="error">
                Semester is required
              </div>
            </div>
        </form>
    </div>
    <div class="buttons">
        <button (click)="createSubject()"
        [disabled]="!degreeSelect"
        [ngClass]="{'disabled': !degreeSelect}">Create Subject</button>
        <button 
        [disabled]="subjectForm.invalid || !checkIfChanged()" 
        [ngClass]="{'disabled': subjectForm.invalid || !checkIfChanged()}"
        (click)="updateSubject()">Update Subject</button>
        <button
        [disabled]="subjectForm.invalid"
        [ngClass]="{'disabled': subjectForm.invalid}"
        (click)="deleteSubject()">Delete Subject</button>
    </div>
</div>
