:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.admin {
    display: flex;
    flex: 1;
    padding: 40px 40px;
    gap: 40px;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100%;
    background-color: #3D2C2E;
}