:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

input:focus, select:focus {
    outline: none;
}

label {
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

input {
    font-size: small;
    padding: 15px;
    flex: 1;
}

.admin-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex: 1;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.selects {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.select {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.select label {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.select select {
    font-size: small;
    padding: 15px;
    flex: 1;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.input {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.buttons {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    margin-top: 40px;
}

.buttons button {
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #886F68;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: white;
    color: #3D2C2E;
}

.error {
    color: rgb(255, 91, 91);
    font-size: 12px;
    margin-top: 5px;
}

.disabled {
    background-color: #886F68 !important;
    color: #8C8C8C !important;
    cursor: not-allowed !important;
}

@media screen and (max-width: 1400px) {
    .select label {
        font-size: large;
    }

    .selects{
        justify-content: center;
    }

    .inputs {
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {

    .selects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .inputs {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .selects {
        grid-template-columns: 1fr;
    }

    .admin-container {
        padding: 20px;
    }
}

@media (max-width: 650px) {
    .buttons button {
        padding: 10px 15px;
        font-size: medium;
    }

    label {
        font-size: large;
    }
}

@media (max-width: 600px) {
    input {
        padding: 10px;
        width: 20px;
    }
}

@media (max-width: 500px) {
    .buttons button {
        padding: 10px 10px;
        font-size: small;
    }

    .select label, label {
        font-size: small;
    }

    .hall {
        flex-direction: column;
    }

    .hall input {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .buttons button {
        padding: 5px 5px;
        font-size: x-small;
    }

    .buttons {
        flex-direction: column;
    }
}