.schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

table {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
}

table * {
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: white;
}

table th {
    width: 10em;
    font-weight: bold;
}

.organization-data-schedule {
    display: flex;
    flex-direction: column;
}

.time-interval-input{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.time-interval-input input{ 
    background-color: #fcfcfc;
}

.checkbox-cell {
    background-color: white;
}

.add-row {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.add-row i {
    font-size: x-large;
    cursor: pointer;
    color: white;
}

.deleteInput{
    cursor: pointer;
}

.checked {
    background-color: green;
}

.halls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.halls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.hall {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hall label {
    font-size: medium;
}

.hall button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
  
.hall button:hover {
    background-color: #45a049;
}
  
.hall button:disabled {
    background-color: #cccccc;
    cursor: not-allowed; 
}
  
.fas {
    margin-right: 5px;
}

.day.abbr {
    display: none;
}

@media (max-width: 2150px) {
    .halls-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1600px) {
    .halls-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .halls-grid {
        grid-template-columns: 1fr;
    }

    .time-interval-input input {
        padding: 0px;
    }
}

@media (max-width: 1000px){
    .day.abbr {
        display: table-cell;
    }

    .day.full {
        display: none;
    }
}

@media (max-width: 650px) {
    .schedule {
        gap: 10px;
    }

    table th {
        font-size: medium;
    }

    table td {
        font-size: small;
    }

    .time-interval-input {
        gap: 4px;
    }

    .hall button {
        padding: 5px 10px;
    }

    .table-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .table-container table {
        width: 100%;
        border-collapse: collapse;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    .add-row {
        justify-content: flex-start;
    }

    
}