:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

button{
    background-color: #886F68;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 150px;
}

h2 {
    color: #3D2C2E;
    font-size: x-large;
    font-weight: bold;
}

h3 {
    font-size: larger;
    font-weight: bold;
}

h4 {
    display: flex;
    font-size: large;
    font-weight: bold;
    gap: 15px;
}

h5 {
    display: flex;
    font-size: medium;
    font-weight: bold;
    gap: 15px;
}

p {
    text-align: justify;
}

.active {
    background-color: #3D2C2E;
}

.non-selected {
    color: white;
    background-color: rgb(249, 97, 97);
    padding: 10px;
}

.selected {
    color: white;
    background-color: #80CA89;
    padding: 10px;
}

.disabled {
    color: white;
    background-color: rgb(150, 150, 150);
    cursor: not-allowed;
}

.home {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 40px 40px;
    gap: 40px;
}

.side-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.selectors-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectors-container input{
    padding: 15px;
    border-radius: 8px;
    border: 0px;
    color: white;
    background-color: #886F68;
}

.selectors-container button {
    width: 50%;
}

.selectors-container input::placeholder{
    color: white;
}

.selectors {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #886F68;
    color: white;
    border-radius: 8px;
}

.degrees {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.years {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}

.year {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.subjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.subject {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}


.schedule-container{
    display: flex;
    flex-direction: column;
    flex: 4;
}

.schedule-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.schedule{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.side-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-info button:not(:disabled):hover {
    background-color: #3D2C2E;
}

.side-info button:not(:disabled):active {
    background-color: #2E1C1D;
    transform: scale(0.95);
    box-shadow: 0 5px #666;
}

.side-info ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectors-container button:not(:disabled):hover {
    background-color: #3D2C2E;
}

.selectors-container button:not(:disabled):active {
    background-color: #2E1C1D;
    transform: scale(0.95);
    box-shadow: 0 5px #666;
}

.side-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #886F68;
    padding: 20px;
    border-radius: 8px;
}

.side-stats p {
    color: white;
    font-size: large;
    text-align: start;
}

.side-stats h2 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .home {
        flex-direction: column;
        padding: 20px;
    }

    .side-container{
        gap: 20px;
    }

    .schedule-buttons{
        justify-content: center;
    }

    .selectors-container button {
        width: 100%;
    }

    .subjects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .subjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .schedule-buttons{
        flex-direction: column;
        gap: 20px;
        align-self: center;
    }

    .schedule-buttons button {
        width: 50%;
    }

    .subjects {
        display: grid;
        grid-template-columns: 1fr;
    }
}